@import '../../../mixins.scss';

.videoSection{
    position: relative;
    margin: 50px 0;
    .contentWrapper{
        display: inline-block;
        .videoHeader{
            text-align: left;
            font-size: 24px;
            color: white;
            margin-bottom: 25px;
        }
        .videos{
            display: flex;
            gap: 10px;
            overflow-x: auto;
            margin-right: -20px;
            margin-left: -20px;
            padding: 0 20px;
            .video{
                // flex-shrink: 0;
                color: white;
                @include md {
                    width: 25%;
                }
                cursor: pointer;
                .videoThumbnail{
                    margin-bottom: 15px;
                    position: relative;
                    width: 150px;
                    .lazy-load-image-background{
                        width: 100%;
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            display: block;
                            border-radius: 12px;
                            transition: all 0.7s ease-in-out;
                        }
                    }
                    svg {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 50px;
                        height: 50px;
                    }
                    .triangle {
                        stroke-dasharray: 240;
                        stroke-dashoffset: 480;
                        stroke: white;
                        transform: translateY(0);
                        transition: all 0.7s ease-in-out;
                    }
                    .circle {
                        stroke: white;
                        stroke-dasharray: 650;
                        stroke-dashoffset: 1300;
                        transition: all 0.5s ease-in-out;
                    }
                    &:hover {
                        img {
                            opacity: 0.5;
                        }
                        .triangle {
                            stroke-dashoffset: 0;
                            opacity: 1;
                            stroke: var(--pink);
                            animation: trailorPlay 0.7s ease-in-out;
                        }
                        .circle {
                            stroke-dashoffset: 0;
                            stroke: var(--pink);
                        }
                    }
                }
                .videoTitle{
                    
                }
            }
        }
    }
}