@import "../../mixins.scss";

.header{
    // align-items: center;
    // display: flex;
    // justify-content: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    // background: rgba(0, 0, 0, 0.25);
    // backdrop-filter: blur(3.5px);
    // -webkit-backdrop-filter: blur(3.5px);
    &.top {
        background: rgba(0, 0, 0, 0.25);
        // backdrop-filter: blur(3.5px);
        // -webkit-backdrop-filter: blur(3.5px);
    }
    &.show {
        background-color: var(--black3);
    }
    &.hide {
        transition: all ease 0.5s;
        transform: translateY(-60px);
    }
    .search-bar{
        width: 100%;
        height: 60px;
        animation: mobileMenu 0.3s ease forwards;
        .searchInput{
            width: 100%;
            display: flex;
            align-items: center;
            input{
                width: 100%;
                height: 50px;
                background-color: white;
                outline: 0;
                border: 0;
                padding: 0 15px;
                
            }
            .item-search{
                list-style: none;
                height: 50px;
                display: flex;
                align-items: center;
                padding: 0 20px;
                right: 0;
                top: 0;
                background-color: white;
                .close-icon{
                    cursor: pointer;
                }
            }
        }
    }
    .contentWrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }
    
}

.active-sidebar{
    transform: translateY(0);
    transition: all ease 0.5s;
    background-color: var(--black3);
}



.logo-main{
    padding: 10px 24px;
    &:hover{
        cursor: pointer;
    }
}

.menu-item{
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 10px 24px;
    .item{
        margin: 10px;
        cursor: pointer;
        &:hover{
            color: var(--pink)
        }
    }
    .item-search{
        font-size: 20px;
    }
    .activeOnMobile{
        display: none;
    }
    @include max-sm {
        .hideOnMobile{
            display: none;
        }
        .activeOnMobile{
            display: list-item;
        }
    }
}

.menu-side-bar{
    width: 100%;
    max-width: 1200px;
    color: white;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 16px;
    padding: 16px;
    .item{
        margin: 10px;
        cursor: pointer;
        &:hover{
            color: var(--pink)
        }
    }
}

@keyframes mobileMenu {
    0% {
        transform: translateY(-130%);
    }
    100% {
        transform: translateY(0);
    }
}
